.product-filters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1440px;
  margin: 0 auto;
  position: sticky;
  top: 50px;
  padding: 0.8rem;
  z-index: 90;
  align-items: center;
  &__total {
    display: block;
    display: flex;
    gap: .5rem;
    margin-left: auto;
    padding: 0 1rem;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.filters-wrapper {
  width: 100%;
  background-color: var(--white-transparent);
  position: sticky;
  top: 50px;
  z-index: 90;
  backdrop-filter: blur(20px);
}

.main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
