.shooping-cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  height: 100%;
  &__list {
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__total {
    background-color: var(--text-input-field);
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
  }
  &__purchase {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
  }
  .product {
    display: grid;
    grid-template-columns: 80px 1fr 50px 90px auto;
    align-items: center;
    gap: 1rem;
    padding: 0 .5rem;
    &__image {
      max-width: 100%;
      border-radius: 5px;
      box-sizing: border-box;
      background-color: var(--white);
    }
    &__title {
      color: var(--light-gray);
    }
    &__price {
      font-size: 1.1rem;
      font-weight: bold;
      text-align: right;
    }
    &__und {
      opacity: 0.6;
      font-size: 0.9rem;
      display: grid;
      grid-template-areas: 'quantity quantity''removeBtn addBtn';
      gap: 5px 8px;
      .quantity {
        grid-area: quantity;
        display: block;
        text-align: center;
      }
      .add-button {
        grid-area: addBtn;
      }
      .remove-button {
        grid-area: removeBtn,
      }
    }
  }
}