.user-menu {
  display: flex;
  position: relative;
  outline: none;
  align-items: baseline;
  transition: background-color 0.15s;
  border-radius: 8px;
  &__control {
    padding: 0.4rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
  &__email {
    user-select: none;
    display: none;
  }
  &:hover {
    background-color: var(--very-light-gray);
  }
  &--active {
    background-color: var(--very-light-gray);
    .icon-menu {
      transform: rotate(-90deg) !important;
    }
  }
  .icon {
    display: grid;
    place-items: center;
    &-menu {
      transform: rotate(-270deg);
      transition: transform .15s;
    }
  }
  @media screen and (min-width: 768px) {
    .user-menu__email {
      display: block;
    }
  }
}

.popup-menu {
  position: absolute;
  z-index: 100;
  right: 5px;
  width: 150px;
  border-radius: 5px;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  top: 100%;
  transition: opacity 200ms;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  list-style: none;
  margin: 0;
  padding: 0.6rem 0;
  display: flex;
  flex-direction: column;
  &__item {
    user-select: none;
    text-align: right;
    cursor: pointer;
    // transition: background-color 0.15s;
    &:hover {
      background-color: var(--very-light-gray);
    }
    &--logout {
      color: var(--primary-color);
      font-weight: bold;
      text-align: right;
      padding: 0.5rem 0.8rem;
      cursor: pointer;
      background-color: var(--main-bg-color);
    }
    &--divider {
      height: 1px;
      padding: 0;
      margin: 1rem 0.5rem;
      cursor: auto;
      &:hover {
        background-color: var(--very-light-pink);;
      }
      background-color: var(--very-light-pink);
    }
  }
  &--active {
    transform: scaleY(1);
    opacity: 1;
  }
  &__link {
    padding: 0.5rem 0.8rem;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    display: block;
  }
}
